<div class="d-flex flex-column">
    <h1 class="ctm-text-title text-center">Ongoing Tournaments</h1>
    <div id="tournaments-container"></div>
<!-- modal -->
<div class="modal fade" id="start-match-modal" tabindex="-1" aria-labelledby="startMatchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ctm-text-title" id="waitGameLabel">Start game</h5>
                <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <p id="join-queue">Do you want to start your tournament match now?</p>
                <p id="wait-oponent" class="hidden">Waiting for your oponent to join</p>
                <div id="loading-bars" class="hidden">
                    <div  class="loading-bars d-flex justify-content-center align-items-center mb-2">
                        <div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ctm-btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="play-btn" type="button" class="btn ctm-btn">Play</button>
            </div>
        </div>
    </div>
</div>
</div>