<div class="container my-5">
    <h1 class="ctm-text-title text-center mb-4">Ongoing Tournaments</h1>
    <div class="ctm-card card blinking-neon-frame p-4">
        <div class="row text-center mb-4">
            <div class="col ctm-text-title">Phase 1</div>
            <div class="col ctm-text-title">Phase 2</div>
            <div class="col ctm-text-title">Phase 3</div>
        </div>
        <div class="row">
            <div class="col ctm-text-light">
                <div class="row mb-3">
                    <div class="col">Paco</div>
                    <div class="col">vs</div>
                    <div class="col">Pepe</div>
                </div>
                <div class="row mb-3">
                    <div class="col">Pablo</div>
                    <div class="col">vs</div>
                    <div class="col">Anna</div>
                </div>
                <div class="row mb-3">
                    <div class="col">Julia</div>
                    <div class="col">vs</div>
                    <div class="col">Alicia</div>
                </div>
                <div class="row mb-3">
                    <div class="col">Kevin</div>
                    <div class="col">vs</div>
                    <div class="col">Patato</div>
                </div>
            </div>
            <div class="col ctm-text-light">
                <div class="row mb-3">
                    <div class="col">Paco</div>
                    <div class="col">vs</div>
                    <div class="col">Anna</div>
                </div>
                <div class="row mb-3">
                    <div class="col">Alicia</div>
                    <div class="col">vs</div>
                    <div class="col">Potato</div>
                </div>
            </div>
            <div class="col ctm-text-light">
                <div class="row mb-3">
                    <div class="col">Anna</div>
                    <div class="col">vs</div>
                    <div class="col">Alicia</div>
                </div>
            </div>
        </div>
    </div>
</div>