<div class="d-flex flex-column">
    <h1 class="ctm-text-title text-center">Ongoing Tournaments</h1>
    <div id="tournaments-container"></div>
<!-- modal -->
<div class="modal fade" id="start-match-modal" tabindex="-1" aria-labelledby="startMatchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ctm-text-title" id="waitGameLabel">Start game</h5>
                <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <p id="modal-text">Do you want to start your tournament match now?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ctm-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn ctm-btn" data-bs-dismiss="modal">Play</button>
            </div>
        </div>
    </div>
</div>
</div>