<div id="app-container" class="d-flex flex-column flex-md-row mt-0"> <!-- with this, side content is pushed under the chess on narrow screens -->
  <div id="chess-container">
    <div id="players-container" class="ms-0 row w-100 mb-2">
    
    </div>
    <div id="board-container">
      <div id="alpha-coord" class="row w-100 ms-0"></div>
      <div id="grid-container" class="d-flex">
        <div id="num-coord" class="d-flex flex-column"></div>
        <div id="root"> </div>
        <div id="num-coord-right" class="d-flex flex-column"></div>
      </div>
      <div id="alpha-coord-bottom" class="row w-100 ms-0"></div>
    </div>
  </div>
  <div id="chess-side-container" class="d-flex flex-column ms-4 align-items-center">
    <div id="move-logger" class="flex-grow-1">
      <div class="d-flex p-4 justify-content-center">
        <div id="leftCol" class="col ms-3"></div>
        <div id="rightCol" class="col ms-5"></div>
      </div>
    </div>
    <!-- Nueva sección para los botones -->
    <div id="button-container" class="d-flex justify-content-center my-3">
      <button id="button1" class="btn ctm-btn-dark mx-2" title="Settings">
        <i class="bi bi-gear button-image" alt="Button 1 Image"></i>
      </button>
      <button id="button3" class="btn ctm-btn-secondary mx-2" title="Flip Board">
        <i class="bi bi-arrow-down-up button-image" alt="Button 3 Image"></i>
      </button>
      <button id="button2" class="btn ctm-btn-danger mx-2" title="Resign" data-bs-toggle="modal" data-bs-target="#chess-resign-modal">
        <i class="bi bi-flag-fill button-image" alt="Button 2 Image"></i>
      </button>
    </div>
  </div>    
</div>
    <!-- Panel de configuración -->
  <div id="settings-panel" class="settings-panel hidden"> <!-- blinking-neon-frame -->
    <h3 class="ctm-text-title"> Customize Your Chess Game</h3>
    <div class="option">
      <label for="piece-style">Piece Style:</label>
      <select id="piece-style">
        <option value="Modern">Modern</option>
        <option value="Classic">Classic</option>
        <option value="Club">Club</option>
        <option value="Luca">Luca</option>
        <option value="Newspaper">Newspaper</option>
        <option value="Valentin">Valentin</option>
      </select>
    </div>
    <div class="option">
      <label for="board-color">Board Color:</label>
      <select id="board-color">
        <option value=white:#84cca3;black:#5c3973>Green</option>
        <option value=white:#edd6b0;black:#b88762>Brown</option>
        <option value=white:#ffffff;black:#2e2e2e>Black</option>
        <option value=white:#687182;black:#232a36>Glass</option>
        <option value=white:#f1fbff;black:#f1a3a7>Valentin</option>
      </select>
    </div>
    <div id="settings-panel-btns">
      <button id="save-settings" class="btn ctm-btn">Save</button>
      <button id="cancel-settings" class="btn ctm-btn-secondary">Cancel</button>
    </div>
  </div>


<div class="modal fade" id="chess-resign-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title ctm-text-title" id="exampleModalLabel">Resign</h5>
				<button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body">
				You're about to resign, are you sure?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn ctm-btn" data-bs-dismiss="modal">Cancel</button>
				<button id="resign-button" type="button" class="btn ctm-btn-danger" data-bs-dismiss="modal">Resign</button>
			</div>
		</div>
	</div>
</div>
