/*all the visible content on the web page.*/
/* body {
  background-color: #2f2e2a;
  justify-content: center;
  gap: 2vw;
} */
/*
 *  Styles the root element to be a flex container with a column direccion, center it ahorizontally
 *  and adjunst its width to fit its content. this is the main container where the chessboard and
 *  other game elements are rendered.
 *  flex: provides a more efficient way to align and distribute space among items in a container.
*/
/* #root{
  display: flex; 
  flex-direction: column;
  width: fit-content;
} */

/*
 *  Targets any HTML element with the class squareRow. In your JavaScript, this class is applied to
 * <div> elements that represent rows of squares on the chessboard.
*/
.squareRow {
  display: flex;
}

.square{
  width: 80px;
  height: 80px;
  position: relative;
/*   justify-content: center;
  align-items: center; */
}

.white{
  background-color: #84cca3;
}

.black{
  background-color: var(--medium);
}

.piece, .button-image {
  width: 100%;
  height: 100% !important;
  cursor: pointer; /*grab?*/
}

.button-image {
  width: 30px;
  height: 30px;
}

.captureColor{
  background-color: var(--danger) !important;
  color: rgb(41, 40, 40);
}

.highlightYellow{
  background: var(--accent) !important;
}
.black.square.highlightYellow{
  background: var(--dark) !important;
}

.highlightYellow .piece {
 height: 106% !important;
 width: 106% !important;
 margin-top: -6% !important;
 margin-left: -3% !important;
}

.highlight{
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 26px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}

.chess-modal{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 155px;
  bottom: 0;
  right: 100px;
  left: 0;
}

.blur{
  filter: blur(5px);
}

.chess-modal p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding: 4px 8px;
  background-color: #ee4b2b;
  color: white;
}

.chess-modal img{
  box-sizing: border-box;
  border: 5px solid transparent;
  width: 24%;
}

.chess-modal img:hover{
  border: 5px solid yellow;
  cursor: pointer;
}

.retry-button, .home-button {
  font-size: 20px; /* Aumenta el tamaño del texto */
  padding: 10px 20px; /* Aumenta el tamaño del botón */
  margin: 10px; /* Añade espacio entre los botones */
  border-radius: 5px; /* Añade bordes redondeados */
  background-color: #007BFF;
  color: white;
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.retry-button:hover, .home-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor */
}

.labelId{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 14px;
  left: 2px;
  top: 0.5px;

}

.white-label-id{
  color: #5c3973;
}

.black-label-id{
  color: #84cca3;
}

.d-flex{
  display: flex;
}

/* #move-logger::-webkit-scrollbar {
  width: 12px;
}

#move-logger::-webkit-scrollbar-track {
  background: #2c2c2c;
}

#move-logger::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px;
  border: 3px solid #2c2c2c;
} */

#move-logger{
  width: 20vw;
  max-width: 300px;
  min-width: 200px !important;
  height: 628px; /*80px (square) x 8 nº*/
/*   max-height: 640px; */
  overflow-y: auto; /*scroll*/
  color: var(--light);
  margin: 10px;
  border-radius: 5px;
  background-color: #0301031c;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  
}

.tile-x {
  text-align: center;
  height: 32px;
  width: 80px;
  padding-left: 20px;
  margin-top: 7px;
}

.tile-y {
  text-align: center;
  height: 80px;
  width: 40px;
  padding-top: 24px;
}

@media (max-width: 770px) { /* resizes move-logger when the screen width is less than 770px */
  #move-logger {
    width: 90vw;
    max-width: 400px;
  }
}

@media (max-width: 770px) {
  .square {
    height: 40px;
    width: 40px;
  }

  .highlight {
    height: 15px;
    width: 15px;
    margin-top: 13px;

  }

  .tile-x, .tile-y {
    display: none;
  }

  #alpha-coord, #alpha-coord-bottom, 
  #num-coord-right, #num-coord-left, .empty-tile {
    display: none;
  }

  #chess-side-container {
    margin-top: 20px;
    margin-left: 0px !important;
  }
  #grid-container, #chess-container {
    /* max-width: 340px !important; */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


#chess-container {
  /* background-color: var(--dark); */
  background: linear-gradient(225deg, var(--dark), var(--darkish));
  box-shadow: 0 0 10px #00F56A, 0 0 10px #00F56A, 0 0 10px #00f56a79, 0 0 40px #00F56Acc;
  color: var(--light);
  border-radius: 5px;
}

.empty-tile {
  width: 40px;
  height: 40px;
}

#chess-side-container {
  background: linear-gradient(225deg, var(--dark), var(--darkish),  #920505cc, var(--title));
  border-radius: 5px;

}

/*nuevos estilos para los botones que hay en la parte de abajo de move-logger*/
/* #button-container {
  position: fixed;
  bottom: 52px;
  width: 20vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #20201e;
  gap: 30px;
}
 */
/* #button1, #button2 {
  background-color: var(--dark);
  color: var(--light) !important;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 */


.cancel-button, .resign-button {
  font-size: 20px; /* Aumenta el tamaño del texto */
  padding: 10px 20px; /* Aumenta el tamaño del botón */
  margin: 10px; /* Añade espacio entre los botones */
  border-radius: 5px; /* Añade bordes redondeados */
  color: white;
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.cancel-button {
  background-color: #3b3b3b;
}

.resign-button {
  background-color: #59a279;
}

.cancel-button:hover {
  background-color: #464646;
}

.resign-button:hover {
  background-color: #62b184;
}

/*Customizacion/settings styles*/
.settings-panel {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: var(--dark);
  color:var(--light);
  border: 1px solid var(--light);
  padding: 20px;
  z-index: 1000;
/*   box-shadow: 0 4px 8px var(--lorange); */
  border-radius: 10px;
}

.hidden {
  display: none;
}

.option {
  margin-bottom: 15px;
}


.option select {
  background-color: var(--darkish);
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 5px;
  padding: 3px;
}

/* .button-group {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  color: #fff; 
  border: none;
}
 */
#save-settings, #cancel-settings {
  width: 48%; /* Ajusta el ancho de los botones para que estén alineados */
}

/*animation for the atomic variant*/
@keyframes explosion-red {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.explosion-red {
  background-color: rgba(159, 16, 16, 0.788);
  animation: explosion-red 1s ease-outque;
}

/*#root{
  display: flex; 
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15%;
  bottom: 50%;
  right: 37%;
  left: 15%;
}*/

