<!-- card header -->
<div id="chat-header" class="card-header d-flex justify-content-between align-items-center position-relative">
    <h5 class="mb-0">Chat</h5>
    <span id="notification-indicator" class="position-absolute top-0 start-100 translate-middle p-2 rounded-circle" style="display: none;">
        <span class="visually-hidden">New messages</span>
    </span>
    <i class="fas fa-chevron-up" id="toggle-icon"></i>
</div>
<!-- card body -->
<div id="chat-body" class="card-body p-0" style="display: none;">
    <!-- recent chats tab -->
    <div id="recent-chats"class="chat-tab">
        <div id="recent-chats-list" class="list-group list-group-flush p-2 ms-1 me-1">
            <!-- recent chats will be rendered here -->
        </div>
        <button id="new-chat-btn" class="btn rounded-circle">
            <i class="fas fa-plus"></i>
        </button>    
    </div> <!-- this closes the recent chats tab -->
    <!-- new chat tab -->
    <div id="new-chat" class="chat-tab" style="display:none;">
        <div id="back-to-recents" class="list-group-item chat-subheader back-to-recents header-hover" style="display: none;">
            <i class="fas fa-arrow-left me-2"></i>
            <span>back to recents</span>
        </div>
        <div id="start-a-new-chat" class="list-group-item"  style="display: none;"">
            <i class="fas fa-plus me-2"></i>
            <span>start a new chat</span>
        </div>
        <div id="friends-list" class="list-group list-group-flush p-2 ms-1 me-1">
            <!-- friends list will be rendered here -->
        </div>
    </div> <!-- this closes the new chat tab -->
    <!-- chat tab -->
    <div id="chat-window" class="chat-tab" style="display:none;">
        <div class="chat-subheader d-flex align-items-center">
            <i class="back-to-recents fas fa-arrow-left p-2 px-4 header-hover"></i>
            <span id="current-chat-name" class="ms-auto p-2 flex-grow-1 text-end header-hover"></span>
        </div>
        <div id="chat-messages" class="p-3">
            <!-- chat messages are rendered here -->
        </div>
        <form id="chat-form" class="p-2">
            <div class="input-group">
                <input type="text" id="message-input" class="form-control ctm-form anexed" placeholder="Type a message" maxlength="900">
                <button type="submit" id="send-btn" class="btn send-btn">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div> <!-- this closes chat window -->
    <div id="chat-profile" class="chat-tab" style="display:none;">
        <div id="back-to-chat" class="list-group-item chat-subheader header-hover">
            <i class="fas fa-arrow-left me-2"></i>
            <span>back to chat</span>
        </div>
        <div id="profile-data-container" class="d-flex flex-column justify-items-center align-items-center ctm-text-light h-100">
        </div>
    </div> <!-- this closes the new chat tab -->
</div> <!-- this closes the card-body -->
