<div class="d-flex flex-column">
    <!-- gif -->
    <div class="neon-frame p-3">
        <div class="ctm-card p-5 d-flex flex-row">
            <div class="col d-flex flex-column">
                <h1 class="ctm-text-title">ft_transcendence</h1>
                <h3 class="ctm-text-light mb-5">Welcome, huuman</h3>
                <h4 class="ctm-text-light mt-auto" id="neon-text">please, log in to start playing</h4>
            </div>
            <div class="col">
                <div class="tv mx-4 position-relative">
                    <canvas id="greeting-bot"></canvas>
                    <canvas id="greeting-light"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>