.tv {
    position: relative;
/*     background-color: var(--dark); */
    background-color: #190a24;
    border-radius: 5%;
    overflow: hidden; /* Ensure the noise effect stays within the .tv element */
    height: 400px;
    width: 400px;

}

.tv::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 0.2s infinite;
    opacity: 0.9;
    visibility: visible;
    z-index: 1; /* Ensure the noise effect is on top */
}

@keyframes bg-animation {
    0% { transform: translate(0,0); }
    10% { transform: translate(-5%,-5%); }
    20% { transform: translate(-10%,5%); }
    30% { transform: translate(5%,-10%); }
    40% { transform: translate(-5%,15%); }
    50% { transform: translate(-10%,5%); }
    60% { transform: translate(15%,0); }
    70% { transform: translate(0,10%); }
    80% { transform: translate(-15%,0); }
    90% { transform: translate(10%,5%); }
    100% { transform: translate(5%,0); }
}

#greeting-bot,
#greeting-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#greeting-light {
    pointer-events: none; /* Evita que interfiera con eventos del mouse */
    
}

