<div class="container p-2 w-75">
	<div class="row blinking-neon-frame w-50 d-flex">
		<div class="card ctm-card p-5">
			<!-- <button id="cancel-login" class="btn cancel-btn position-absolute top-0 end-0 m-2">x</button> -->
			<h2 class="text-center ctm-text-title">Your friends</h2>
			<div id="friend-list" class="h-100 flex-column">
				<div id="friends-container" class="mb-3"></div>
				<!-- <button id="start-game-with-friend" class="btn ctm-btn mb-3" disabled>Start Game with Friend</button> -->
				<!-- <button id="back-to-options" class="btn ctm-btn mb-3">Back to Options</button> -->
			</div>
		</div> <!-- this closes the card -->
	</div>

        <div class="row justify-content-center blinking-neon-frame mt-5">
         <!--    <div class="col-md-6"> -->
                <div class="card ctm-card p-5">
                    <!-- <div class="card-body"> -->
                        <h2 class="ctm-text-title text-center">New friends</h2>
						<p id="request-container" class="text-center ctm-text-light mt-3">
							You don't have any friend requests yet, but you can add one!
						</p>
						<div id="search-form-container">
                            <form id="search-form">
                                <div class="input-group">
                                    <input type="text" class="form-control ctm-form" placeholder="Search by username" aria-label="Search by username">
                                </div>
                            </form>
                            <button id="toggle-search" class="btn ctm-btn-secondary" aria-label="Open friend request form">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                        <div id="" class="mt-4">
                            <!-- maybe i can render here possible matches? -->
                        </div>
                    </div>
                <!-- </div> -->
         <!--    </div> -->
        </div>

</div>