<div id="overlay" class="overlay"></div>
<div class="container-fluid">
	<div id="chose-game" style="display: block;">
		<div class="row">
			<div class="col-12 mb-4">
				<h2 class="text-center ctm-text-light p-5 neon-text" id="neon-text">What would you like to play?</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-5 mb-4">
				<div id="pong-btn" class="card-link">
					<div class="ctm-card card-hover h-100">
						<div class="card-body text-center d-flex flex-column">
							<h3 class="ctm-text-title mb-3">Play Pong</h3>
							<div id="play-pong">
								<img src="https://media.tenor.com/2gyJVMt_L6wAAAAM/pong-video-game.gif" alt="Play Pong" class="img-fluid rounded mb-3">
								<p class="ctm-text-light">Click to start a game of Pong!</p>
							</div>
							<div id="pong-options" class="h-100 flex-column" style="display: none !important;">
								<div id="quick-play" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Quick Play</div>
								<div id="tournament" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Tournament</div>
							</div>
							<div id="quick-play-options" class="h-100 flex-column" style="display: none !important;">
								<div id="play-friend" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Play with a friend</div>
								<div id="play-machine" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Play local/against the machine</div>
							</div>
							<div id="friend-list" class="h-100 flex-column" style="display: none;">
								<h5 class="ctm-text-light mb-3">Select a friend to play with:</h5>
								<div id="pong-friends-container" class="mb-3 friends-container"></div>
								<button data-action="start-game"id="start-game-with-friend" class="btn ctm-btn mb-3" disabled>Start game with friend</button>
							</div>
							<div id="tournament-options" class="h-100 flex-column" style="display: none;">
								<div id="ongoing-tournaments" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Ongoing/finished Tournaments</div>
								<div id="new-tournament" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Create/edit Tournament</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 mb-4">
				<div id="chess-btn" class="card-link">
					<div class="ctm-card card-hover h-100">
						<div class="card-body text-center d-flex flex-column">
							<h3 class="ctm-text-title mb-3">Play Chess</h3>
							<div id="play-chess">
								<img src="../../resources/assets/chess.png" alt="Play Chess" class="img-fluid rounded mb-3">
								<p class="ctm-text-light">Click to start a game of Chess!</p>
							</div>
							<div id="chess-friend-options" class="h-100 flex-column" style="display: none;">
								<div id="chess-friend" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Play with a friend</div>
								<div id="chess-random" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Play random</div>
								<div id="chess-local" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Play local</div>
							</div>
							<div id="chess-options" class="h-100 flex-column" style="display: none;">
								<div id="classic-chess" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Classic</div>
								<div id="spicy-chess" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Spicy</div>
							</div>
							<div id="matchmaking-options" class="h-100 flex-column" style="display: none;">
									<p class="form-label ctm-text-light">Choose ranked options</p>
									<div id="ranked-options" class="switch w-100">
										<button class="switch-btn switch-btn-left w-50 mx-1" data-ranked="false">Casual</button>
										<button class="switch-btn switch-btn-right w-50 mx-1" data-ranked="true">Ranked</button>
									</div>
									<div id="variants-toggle" class="my-2 collapsible">
										<p class="form-label ctm-text-light">Want to add more variants?</+>
										<div id="variants-container" class="flex-row w-100 align-items-center justify-content-center">
											<div class="variant-btn" data-variant="classic">classic</div>
											<div class="variant-btn" data-variant="horde">horde</div>
											<div class="variant-btn" data-variant="kirby">kirby</div>
											<div class="variant-btn" data-variant="bomb">bomb</div>
											<div class="variant-btn" data-variant="960">960</div>
										</div>
									</div>
									<div id='ranked-variants' class="collapsible ctm-text-light mb-2">Ranked games are always in classic mode</div>
								<!-- </div> -->
								<div id="start-queue" class="mt-auto btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">Enter queue</div>
							</div>
							<div id="chess-friend-list" class="h-100 flex-column" style="display: none;">
								<h5 class="ctm-text-light mb-3">Select a friend to play with:</h5>
								<div id="chess-friends-container" class="mb-3 friends-container"></div>
								<button data-action="start-game" id="start-chess-with-friend" class="btn ctm-btn mb-3" disabled>Start game with friend</button>
							</div>
							<div id="chess-variants" class="h-100 flex-column" style="display: none;">
								<div id="horde-chess" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">
									<div class="container d-flex w-75">
										Horde
										<i class="fas fa-question-circle ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="White has a horde of pawns and wins by checkmating Black. Black wins by taking all of White's pawns (and promoted pieces). Pawns can jump 2 squares from the first and second ranks."></i>
									</div>
								</div>
								<div id="kirby-chess" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">
									<div class="container d-flex w-75">
										Kirby
										<i class="fas fa-question-circle ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="In chess, when you capture a piece, you become it (except for the king)."></i>
									</div>
								</div>
								<div id="bomb-chess" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">
									<div class="container d-flex w-75">
										The Bomb
										<i class="fas fa-question-circle ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Capturing a piece leads to an explosion that affects every adjacent piece, except pawns."></i>
									</div>
								</div>
								<div id="960-chess" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">
									<div class="container d-flex w-75">
										960
										<i class="fas fa-question-circle ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="The placement of the pieces on the first rank is randomized and the opponent's pieces mirror it. Although there are extra rules such as the 2 starting Bishops have to be on different colour squares and the King has to start between the 2 Rooks"></i>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="matchmaking-modal" data-username="${username}" tabindex="-1" aria-labelledby="waitGameLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title ctm-text-title" id="waitGameLabel">Matchmaking</h5>
				<div type="button" id="dismiss" data-bs-dismiss="modal" aria-label="Close"></div>
				<button id="close-matchmaking-modal" type="button" class="close-modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body">
				<div class="loading-bars d-flex justify-content-center align-items-center mb-2">
					<div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div>
				</div>
				<p id="waiting-text" class="text-center"> Waiting for a match</p>
			</div>
		</div>
	</div>
</div>