.card-link { 
	text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    position: relative;
}

.friend-btn {
    color: var(--light);
    background-color: var(--darkish);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--light);
    
}

.friend-btn.blocked{
    color: gray;
    border: 1px solid gray;
}

.friend-btn:hover {
    background-color: var(--dark);
}

.friend-btn.selected {
    background-color: var(--title);
    color: var(--dark) !important;
}


.friends-container {
    height: 172px !important;
    overflow-y: auto;
}
/* .card-body {
    height: 317px;
} */
#chess-btn, #pong-btn {
    height: 428px;
}

#variants-container {
    overflow-y: auto;
}

#start-queue {
    max-height: 100px;
}
img {
    /* display: none; */
    /* max- */height: 250px !important;
    width: auto;
}

#pong-options,
#quick-play-options {
    display: none;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    display: none;
    z-index: 50;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

  /* Apply the animation to the .overlay child of #app */
  #app > .overlay {
    animation: fadeIn 0.3s ease-out;
  }

  
  
  .tooltip-inner {
    background-color: var(--dark);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 5px;
}


.tooltip-arrow {
    border-top-color: var(--dark);
}
#matchmaking-options .switch-btn {
    aspect-ratio: auto;
    max-height: 100px;
    min-height: 80px;
}

#chess-variants .fas.fa-question-circle {
    font-size: 1.5em;
}

#variants-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.variant-btn {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    background-color: var(--darkish);
    border: 1px solid var(--light);
    color: var(--light);
    border-radius: 5px;
    cursor: pointer;
}
.variant-btn:last-child {
    margin-right: 0px;
}
.variant-btn:hover {
    background-color: var(--dark);
}
.variant-btn.selected {
    background-color: var(--title);
    color: var(--dark) !important;
}

/* the loading bars */

.loading-bars {
    height: 150px;
    rotate: 180deg;
}
.bar {
    width: 20px;
    background-color: #e7d9c2;
    margin: 10px;
    animation: wave 1.7s ease-in-out infinite;
    border-radius: 20px;
}

.bar:nth-child(5) {
    animation-delay: 0.2s;
}
.bar:nth-child(4) {
    animation-delay: 0.4s;
}
.bar:nth-child(3) {
    animation-delay: 0.6s;
}
.bar:nth-child(2) {
    animation-delay: 0.8s;
}
.bar:nth-child(1) {
    animation-delay: 1.0s;
}
@keyframes wave {
    0% {
        height: 20px;
    }
    50% {
        height: 130px;
        background-color: var(--title);
    }
    100% {
        height: 20px;
        background-color: var(--lorange);
    }
}

#waiting-text {
    animation: loadingBlink 1.7s ease-in-out infinite;
}

@keyframes loadingBlink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}