<div id="sidebar" class="sidebar d-flex flex-column">
	<div class="p-3">
		<h3 class="username ctm-text-title"></h3>
		<ul class="nav flex-column">
			<li class="nav-item"><a href="/profile" class="nav-link ctm-link">My Profile</a></li>
			<li class="nav-item"><a href="/friends" class="nav-link ctm-link">Friends</a></li>
			<li class="nav-item"><a href="/game-stats" class="nav-link ctm-link">Game Stats</a></li>
			<li class="nav-item"><a href="/settings" class="nav-link ctm-link">Settings</a></li>
			<!-- <li class="nav-item"><a href="#" class="nav-link ctm-link">Whenever</a></li>
			<li class="nav-item"><a href="#" class="nav-link ctm-link">Wherever</a></li>
			<li class="nav-item"><a href="#" class="nav-link ctm-link">Were meant</a></li>
			<li class="nav-item"><a href="#" class="nav-link ctm-link">to be together</a></li> -->
		</ul>
	</div>
	<div class="mt-auto p-3">
		<ul class="nav mb-5 flex-column">
			<li id="logout-btn" class="nav-item text-center"><div class=" btn ctm-btn-dark p-3">log out</div></li>
		</ul>
	</div>
</div>