.form-check-input {
	background-color: var(--dark);
	border: 1px solid var(--accent);
}


:root {
	--dark: #2D1240;
	--darkish: #462A56;
	--medium: #5C3973;
	--accent: #00F56A;
	--light: #84cca3;
	--title: #F59C00;
	--lorange: #f1c478;
    --transition: #a90808;
    --danger: #c10505;
}
/* .form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
} */

.form-switch .form-check-input {
/*     width: 2em;
    margin-left: -2.5em; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23f1c478'/%3e%3c/svg%3e") !important; /* Ball color when unchecked */
/*     background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out; */
}

.form-check-input:checked {
	background-color: #84cca3a1;
	border: 1px solid var(--accent);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2300F56A'/%3e%3c/svg%3e") !important; /* Ball color when checked */

}
