<div class="blinking-neon-frame">
	<div class="card ctm-card p-5" >
		<button id="cancel-reset-password" class="btn cancel-btn position-absolute top-0 end-0 m-2">x</button>
		<h2 class="text-center ctm-text-title">Reset password</h2>
		<form id="reset-pw-form">
			<div class="mb-3">
				<label for="password" class="form-label ctm-text-light">New password</label>
				<input type="password" id="new-password" class="form-control ctm-form mb-2 mb-2" placeholder="New Password">
				<label for="password" class="form-label ctm-text-light">Confirm password</label>
				<input type="password" id="confirm-new-password" class="form-control ctm-form mb-2 mb-2" placeholder="Confirm Password">
			</div>
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn ctm-btn">Reset password</button>
			</div>
		</form>
	</div> <!-- this closes the reset card -->
</div>