/*all the visible content on the web page.*/
body {
  background-color: #2f2e2a;
  justify-content: center;
  gap: 2vw;
}
/*
 *  Styles the root element to be a flex container with a column direccion, center it ahorizontally
 *  and adjunst its width to fit its content. this is the main container where the chessboard and
 *  other game elements are rendered.
 *  flex: provides a more efficient way to align and distribute space among items in a container.
*/
#root{
  display: flex; 
  flex-direction: column;
  width: fit-content;
}

/*
 *  Targets any HTML element with the class squareRow. In your JavaScript, this class is applied to
 * <div> elements that represent rows of squares on the chessboard.
*/
.squareRow {
  display: flex;
}

.square{
  width: 80px;
  height: 80px;
  position: relative;
}

.white{
  background-color: #84cca3;
}

.black{
  background-color: #5c3973;
}

.piece{
  width: 100%;
  cursor: pointer; /*grab?*/
}

.captureColor{
  background-color: #ee4b2b;
}

.highlightYellow{
  background: #f7f769;
}

.highlight{
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 26px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}

.labelId{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 14px;
  left: 2px;
  top: 0.5px;
}

.white-label-id{
  color: #5c3973;
}

.black-label-id{
  color: #84cca3;
}

.d-flex{
  display: flex;
}

#move_logger{
  width: 20vw;
  height: 640px; /*80px (square) x 8 nº*/
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #262522;
}

.leftSide{
  margin-right: 40%;
}