:root { /* here I can put body too */
    --dark: #2D1240;
    --medium: #5C3973;
    --accent: #00F56A;
    --light: #84CCA3;
    --title: #F59C00;
/*     --dark: #152c30;
    --medium: #305457;
    --accent: #F5882F;
    --light: #faaa69; */
}

@font-face {
    font-family: 'ROG LyonsType Regular';
    font-style: normal;
    font-weight: normal;
    src: local('ROG LyonsType Regular'), url('resources/fonts/ROGLyonsTypeRegular3.woff') format('woff');
}

#pong {
    font-family: 'ROG LyonsType Regular';
    /*  font-family: 'Press Start 2P', sans-serif;*/
    font-style: bolder;
    color: var(--title);
    margin: 0;
    padding: 0;
}

body {
    font-family: 'VT323', monospace;
    background-color: var(--dark);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
/* this is a pseudo-element to overlay the bg image with reduced opacity */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*     background-image: url("https://png.pngtree.com/png-clipart/20221122/ourlarge/pngtree-technology-circuit-line-horizontal-gradient-png-image_6475048.png");
 */    background-image: url("./resources/background.png");
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind other content */
}

.ctm-text-light {
    color: var(--light);
}

.ctm-text-dark {
    color: var(--medium) !important; 
}

.navbar-brand {
    cursor: default;
}
.ctm-text-title {
    color: var(--title);
    font-family: 'ROG LyonsType Regular';
}
.ctm-navbar {
    background-color: var(--medium);
    background: linear-gradient(to bottom, var(--medium), var(--dark)); /* Example gradient */
    box-shadow: 0 0 10px #00F56A, 0 0 10px #00F56A, 0 0 15px #00F56A, 0 0 30px #00F56Acc;
}
.ctm-link {
    color: var(--light);
}

.ctm-link:hover {
    color: var(--accent);
    text-decoration: underline;
}

.ctm-link:visited {
    color: var(--light);
}

.ctm-link:focus {
    color: var(--accent);
    outline: none;
}

.gif-66vh {
    height: 66vh;
    border-radius: 10px;
}
.neon-frame {
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00F56A, 0 0 20px #00F56A, 0 0 30px #00F56A, 0 0 40px #00F56Acc;
}


/* login section */
.ctm-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--medium);
    /* box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff; */
}

.blinking-neon-frame {
    padding: 10px;
    border-radius: 10px;
}

.ctm-btn {
    color: var(--dark);
    background-color: var(--light);
}
.ctm-btn:hover {
    color: var(--dark);
    background-color: var(--accent);
}

/* Define the border color for input fields when focused */
input:focus, select:focus, button:focus {
    border-color: var(--light) !important; /* Use your desired color variable */
    box-shadow: 0 0 5px var(--light) !important; /* Optional: Add a shadow effect */
    outline: none !important; /* Remove the default outline */
}

input[type="checkbox"]:checked {
    background-color: var(--accent) !important;
    border-color: var(--light) !important;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}