<div class="container-fluid">
	<div id="chose-game" style="display: block;">
		<div class="row">
			<div class="col-12 mb-4">
				<h2 class="text-center ctm-text-light p-5" id="neon-text">What would you like to play?</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-5 mb-4">
				<div id="pong-btn" class="card-link">
					<div class="ctm-card card-hover h-100">
						<div class="card-body text-center d-flex flex-column">
							<div id="play-pong">
								<h3 class="ctm-text-title mb-3">Play Pong</h3>
								<img src="https://media.tenor.com/2gyJVMt_L6wAAAAM/pong-video-game.gif" alt="Play Pong" class="img-fluid rounded mb-3">
								<p class="ctm-text-light">Click to start a game of Pong!</p>
							</div>
							<div id="pong-options" class="h-100 flex-column" style="display: none !important;">
								<h3 class="ctm-text-title mb-3">Play Pong</h3>
								<div id="play-friend" class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">play with a friend</div>
								<div class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">play against the machine</div>
								<div class="btn ctm-btn mb-3 flex-grow-1 d-flex align-items-center justify-content-center">play in a tournament</div>    
							</div>
							<div id="friend-list" class="h-100 flex-column" style="display: none;">
								<h4 class="ctm-text-light mb-3">Select a friend to play with:</h4>
								<div id="friends-container" class="mb-3"></div>
								<button id="start-game-with-friend" class="btn ctm-btn mb-3" disabled>Start Game with Friend</button>
								<!-- <button id="back-to-options" class="btn ctm-btn mb-3">Back to Options</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 mb-4">
				<a href="chess.html" class="card-link">
					<div class="ctm-card card-hover h-100">
						<div class="card-body text-center">
							<h3 class="ctm-text-title mb-3">Play Chess</h3>
							<img src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/phpNtZwIg.png" alt="Play Chess" class="img-fluid rounded mb-3">
							<p class="ctm-text-light">Click to start a game of Chess!</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>