.card-link { 
	text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    position: relative;
}

.friend-btn {
    background-color: var(--darkish);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.friend-btn:hover {
    background-color: var(--dark);
}

.friend-btn.selected {
    background-color: var(--title);
    color: var(--dark) !important;
}


.friends-container {
    height: 172px !important;
    overflow-y: auto;
}
/* .card-body {
    height: 317px;
} */

img {
    /* display: none; */
    /* max- */height: 250px !important;
    width: auto;
}

#pong-options,
#quick-play-options {
    display: none;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    display: none;
    z-index: 50;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

  /* Apply the animation to the .overlay child of #app */
  #app > .overlay {
    animation: fadeIn 0.5s ease-out;
  }

  
  
  .tooltip-inner {
    background-color: var(--dark);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 5px;
}


.tooltip-arrow {
    border-top-color: var(--dark);
}


#chess-variants .fas.fa-question-circle {
    font-size: 1.5em;
}