/* main {
    flex: 1;
} */

.profile-picture-container {
    position: relative;
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

#change-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: white;
    border: none;
    padding: 5px 10px;
    display: none;
}


/* canvas.profile-picture {
    background-color: transparent;
} */

#carousel-container {
    max-width: 300px;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.ctm-img {
/*     width: 300px;
    height: 300px; */
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}


.cancel-btn {
    color: var(--title);
    border-radius: 15%;
    /* background-color: aquamarine; You can adjust the background color as needed */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -3px 5px rgba(132, 204, 163, 0.4);
    border: none; /* Optional: remove border if not needed */
    padding: 7px 12px; /* Optional: adjust padding for better appearance */
    transition: box-shadow 0.3s ease; /* Optional: smooth transition for hover effect */
}

.cancel-btn:hover {
    color: var(--title);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5), -4px -4px 7px rgba(157, 227, 187, 0.6);
}

.color-square {
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    display: inline-block;
}